.impar {
    background-color: pink;
    font-family: 'Verdana', 'DejaVu Sans', sans-serif;
}

#elemento2 {
    color: blue;
    font-size: 36px;
}

.impar.elemento3 {
    font-size: 24px;
}

#elemento4 {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}